<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>CFBundleURLTypes</key>
    <array>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.chaoxingstudy.share</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>chaoxingshareback</string>
          <string>cxmailto</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.ssreader.cxStudy</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>cxStudy</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.weibo</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wb762431003</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.ssreader.MobileLibrary</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>chaoxingshare</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleURLName</key>
        <string>com.ssreader.GoetheBook</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>GoetheBook</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>qq</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>QQ1105393464</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>tentcent</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>tencent1105393464</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>weixin</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>wx8b5220847f7bb64f</string>
        </array>
      </dict>
      <dict>
        <key>CFBundleTypeRole</key>
        <string>Editor</string>
        <key>CFBundleURLName</key>
        <string>zhifubao</string>
        <key>CFBundleURLSchemes</key>
        <array>
          <string>cxappStorealipay</string>
        </array>
      </dict>
    </array>
    <key>NSContactsUsageDescription</key>
    <string>还等什么？一键聊天，随时随地联系身边最亲近的人。</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>NSHumanReadableCopyright</key>
    <string></string>
    <key>DTPlatformVersion</key>
    <string>11.0</string>
    <key>CFBundleName</key>
    <string>ChaoXingStudy</string>
    <key>DTSDKName</key>
    <string>iphoneos11.0</string>
    <key>NSPhotoLibraryUsageDescription</key>
    <string>您的每一张图片，都是我们能记下的最美的风景。</string>
    <key>UIViewControllerBasedStatusBarAppearance</key>
    <false/>
    <key>CFBundleIcons</key>
    <dict>
      <key>CFBundlePrimaryIcon</key>
      <dict>
        <key>CFBundleIconFiles</key>
        <array>
          <string>AppIcon20x20</string>
          <string>AppIcon29x29</string>
          <string>AppIcon40x40</string>
          <string>AppIcon60x60</string>
        </array>
        <key>CFBundleIconName</key>
        <string>AppIcon</string>
      </dict>
    </dict>
    <key>LSApplicationCategoryType</key>
    <string></string>
    <key>CFBundleDisplayName</key>
    <string>学习通</string>
    <key>LSRequiresIPhoneOS</key>
    <true/>
    <key>LSApplicationQueriesSchemes</key>
    <array>
      <string>wechat</string>
      <string>chaoxingshareback</string>
      <string>weixin</string>
      <string>mqqapi</string>
      <string>mqq</string>
      <string>mqqOpensdkSSoLogin</string>
      <string>mqqconnect</string>
      <string>mqqopensdkdataline</string>
      <string>mqqopensdkgrouptribeshare</string>
      <string>mqqopensdkfriend</string>
      <string>mqqopensdkapi</string>
      <string>mqqopensdkapiV2</string>
      <string>mqqopensdkapiV3</string>
      <string>mqzoneopensdk</string>
      <string>wtloginmqq</string>
      <string>wtloginmqq2</string>
      <string>mqqwpa</string>
      <string>mqzone</string>
      <string>mqzonev2</string>
      <string>mqzoneshare</string>
      <string>wtloginqzone</string>
      <string>mqzonewx</string>
      <string>mqzoneopensdkapiV2</string>
      <string>mqzoneopensdkapi19</string>
      <string>mqzoneopensdkapi</string>
      <string>mqqbrowser</string>
      <string>mttbrowser</string>
      <string>googlechrome</string>
    </array>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>读万卷书不如行万里路，留下您的每一个足迹吧。</string>
    <key>UIBackgroundModes</key>
    <array>
      <string>audio</string>
      <string>remote-notification</string>
    </array>
    <key>CFBundleDocumentTypes</key>
    <array>
      <dict>
        <key>CFBundleTypeName</key>
        <string>app document type</string>
        <key>LSItemContentTypes</key>
        <array>
          <string>public.text</string>
          <string>com.microsoft.word.doc</string>
          <string>com.microsoft.powerpoint.ppt</string>
          <string>com.adobe.pdf</string>
          <string>com.microsoft.excel.xls</string>
          <string>public.composite-content</string>
          <string>public.data</string>
        </array>
        <key>CFBundleTypeIconFiles</key>
        <array/>
        <key>LSHandlerRank</key>
        <string>Default</string>
      </dict>
    </array>
    <key>DTSDKBuild</key>
    <string>15A372</string>
    <key>NSCameraUsageDescription</key>
    <string>拍下生活中有趣的事，让照片记录记录您的精彩生活。</string>
    <key>CFBundleShortVersionString</key>
    <string>3.2</string>
    <key>CFBundleSupportedPlatforms</key>
    <array>
      <string>iPhoneOS</string>
    </array>
    <key>NSLocationAlwaysUsageDescription</key>
    <string>读万卷书不如行万里路，留下您的每一个足迹吧。</string>
    <key>UISupportedInterfaceOrientations</key>
    <array>
      <string>UIInterfaceOrientationPortrait</string>
      <string>UIInterfaceOrientationPortraitUpsideDown</string>
      <string>UIInterfaceOrientationLandscapeLeft</string>
      <string>UIInterfaceOrientationLandscapeRight</string>
    </array>
    <key>BuildMachineOSBuild</key>
    <string>17B1003</string>
    <key>DTPlatformBuild</key>
    <string>15A372</string>
    <key>CFBundlePackageType</key>
    <string>APPL</string>
    <key>DTXcodeBuild</key>
    <string>9A235</string>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>MinimumOSVersion</key>
    <string>8.0</string>
    <key>CFBundleVersion</key>
    <string>201803061950</string>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>UIPrerenderedIcon</key>
    <true/>
    <key>UILaunchImages</key>
    <array>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-1100-2436h</string>
        <key>UILaunchImageSize</key>
        <string>{375, 812}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>11.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-Portrait-736h</string>
        <key>UILaunchImageSize</key>
        <string>{414, 736}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-800-667h</string>
        <key>UILaunchImageSize</key>
        <string>{375, 667}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>8.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700</string>
        <key>UILaunchImageSize</key>
        <string>{320, 480}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
      </dict>
      <dict>
        <key>UILaunchImageOrientation</key>
        <string>Portrait</string>
        <key>UILaunchImageName</key>
        <string>LaunchImage-700-568h</string>
        <key>UILaunchImageSize</key>
        <string>{320, 568}</string>
        <key>UILaunchImageMinimumOSVersion</key>
        <string>7.0</string>
      </dict>
    </array>
    <key>UIDeviceFamily</key>
    <array>
      <integer>1</integer>
    </array>
    <key>CFBundleLocalizations</key>
    <array>
      <string>en</string>
      <string>zh_CN</string>
    </array>
    <key>NSMicrophoneUsageDescription</key>
    <string>有什么是语音对话不能解决的，如果没有，那就赶快用起来吧。</string>
    <key>CFBundleIdentifier</key>
    <string>com.ssreader.ChaoXingStudy</string>
    <key>CFBundleIconFiles</key>
    <array>
      <string>icon.png</string>
      <string>icon@2x.png</string>
    </array>
    <key>NSAppleMusicUsageDescription</key>
    <string>授权后，随时随地使用学习通听音乐哦~</string>
    <key>DTXcode</key>
    <string>0900</string>
    <key>NSAppTransportSecurity</key>
    <dict>
      <key>NSAllowsArbitraryLoads</key>
      <true/>
      <key>NSExceptionDomains</key>
      <dict>
        <key>log.umsns.com</key>
        <dict>
          <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSTemporaryExceptionMinimumTLSVersion</key>
          <string>TLSv1.1</string>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>qq.com</key>
        <dict>
          <key>NSThirdPartyExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
          <false/>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
        <key>sns.whalecloud.com</key>
        <dict>
          <key>NSTemporaryExceptionAllowsInsecureHTTPLoads</key>
          <true/>
          <key>NSTemporaryExceptionMinimumTLSVersion</key>
          <string>TLSv1.1</string>
          <key>NSIncludesSubdomains</key>
          <true/>
        </dict>
      </dict>
    </dict>
    <key>CFBundleExecutable</key>
    <string>ChaoXingStudy</string>
    <key>CFBundleSignature</key>
    <string>????</string>
    <key>DTPlatformName</key>
    <string>iphoneos</string>
    <key>DTCompiler</key>
    <string>com.apple.compilers.llvm.clang.1_0</string>
  </dict>
</plist>
